header{
    padding-left: 5%;
    padding-right: 5%;
}

.titulo{
    color: white;
    font-size: 30px;
}



main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#campo-senha{
    /* background-color: #0074d9; */
    /* background-color: rgb(109, 201, 231); */
    background-color: #2a4b7c;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.459);
    width: 70%;
    max-width: 500px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#campo-senha h3{
    color: white;
    font-size: 25px;
}
#campo-senha input{
    width: 50%;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
}

#campo-senha input:focus{
    transform: scale(1.2);
}

#campo-senha button{
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: #0074d9;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#campo-senha button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}



#campo-configuracoes{
    background-color: rgb(109, 201, 231);
    transition: all .6s ease-in-out;
    padding: 1rem;
    width: 60%;
    max-width: 500px;
    border-radius: 20px;
    
}


#campo-configuracoes > button{
    border: none;
    border-radius: 15px;
    font-size: 30px;
    padding: 10px;
    background-color: #2a4b7c;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

#campo-configuracoes > button:hover{
    transform: scale(1.1);
}


.form-infoLivro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
    transition: all .6s ease-in-out;
}

.form-infoLivro label{
    font-size: 22px;
    font-weight: bold;
}

.form-infoLivro input{
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    border-radius: 15px;
    color: black;
    outline: none;
    transition: all .5s ease-in-out;
}

.form-infoLivro input[type="text"]{
    background-color: white;
}
.form-infoLivro input[type="text"]:focus{
    transform: scale(1.2);
    border: 3px solid #0074d9;
}
#Adicionar-livro{
    width: 50%;
    font-size: 20px;
    align-self: center;
    background-color: #2a4b7c;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 30px;
}

#estoquelivro{
    background-color: #333333;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    
}
#estoquelivro p,span{
    color: white;
}
#estoquelivro p{
    margin-bottom: .5rem;
    font-size: 22px;
}
#estoquelivro span{
    font-weight: bold;
}



.hidden{
    display: none;
}

