@charset "UTF-8";

:root{
    --font1: 'Roboto', sans-serif;
    --font2: 'Kalam', cursive;
    --CinzaClaro: #D3D3D3;
    --CinzaEscuro: #333333;
    /* --azulescuro: #0074d9; */
    --azulescuro: rgb(109, 201, 231);
    --azulnoite: #2a4b7c;
    --azuleletrico: #0074d9;
    --roxoescuro: #341f97;
    --roxoclaro:#8a6de9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
    color: black;
}

body{
    height: 100%;
    /* background: linear-gradient(90deg,white,lightblue,rgb(119, 190, 214),rgb(115, 203, 233)) no-repeat;  */
    background-color: #F8F8FF;
     /* background-size: 400% 400%;
    background-position: 100% 50%; 
    animation: gradient 12s ease-in-out infinite alternate; */
}

header{
    padding: 10px 30px;
    background-color: var(--azulescuro);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 9;
}

.cadastro{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cadastro i{
    font-size: 25px;
}

.botao-generico{
    background-color: #1986ca;
    border: none;
    font-size: 20px;
    padding: 10px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: all .5s;
}

.botao-generico:active{
    transform: scale(.8);
}

.receber-livro{
    position: absolute;
    bottom: 0;

}


.logo{
    width: 100px;
    border-radius: 15px;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    transition: all .5s;
}
.menu a:hover{
    background-color: var(--azuleletrico);
}

.ico-menu{
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.ico-menu:active{
    transform: scale(.8);
}


/* Apresentação do site */
.apresentacao{ 
    display: flex;
    flex-flow: row wrap;
    background-color: var(--azulescuro);
    justify-content: space-around;
    padding: 10px;
}
.apresentacao-titulo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    
}

.apresentacao-titulo h1{
    font-size: 50px;
    color: white;
}
.apresentacao-titulo p{
    font-family: var(--font2);
    font-size: 22px;
    max-width: 400px;
    color: white;
}

.apresentacao-imagem img{
    width: 300px;
    transition: all 1s;
    border-radius: 30px;
}

.apresentacao-imagem img:hover{
    transform: scale(1.1);
}

.cor1{
    /* padding-left: 0; */
    color: white;
}

.cor2{
    /* padding-left: 20%; */
    color: white;
}
.cor3{
    
    /* padding-left: 55%;   */
    color: #1986ca;
}

/* Carrossel */
.carrossel{
    overflow: hidden;
    width: 80vw;
    height: 700px;
    margin: 0 auto;   
    margin-bottom: 6rem;
    
}
.titulo-carrossel{
    font-size: 30px;
    margin: 3rem 0;
    text-align: center;
}

.container-carrossel{
    display: flex;
    transition: .7s ease-in-out;
    transform: translateX(0);
}

.container-carrossel img{
    height: 600px;
    width: 400px;
    border-right: 3px solid white;
}

/* Sobre */

.info{
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;
}
.info img{
    width: 300px;
    border-radius: 15px;
    
}

.sobre-img{
    position: relative;
}
.sobre-img h3{
    color: white;
    
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.info p{
   max-width: 400px;
   line-height: 2rem;
   font-size: 22px;
}

/* Menu de outras opções */
.menu-options{
    position: fixed;
    top: 0;
    right: -200px;
    height: 100%;
    width: 200px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid white;
    background-color: var(--azulescuro);
    transition: all .6s;
}

.close-options{
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.close-options:active{
    transform: scale(.8);
}

.menu-options div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-options div button{
    border: none;
    background-color: transparent;
    font-size: 22px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    transition: all .5s;
}

.menu-options div button:hover{
    background-color: var(--azuleletrico);
}

/* Campo Extra */

.campo-extra{
    margin-top: 6rem;
    display: flex;
    flex-flow: row wrap;
}

.campo-social{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-right: 1px solid black;
}

.campo-social p{
    font-size: 22px;
}

.social-icons i{
    font-size: 30px;
    padding: 10px;
    transition: all .5s;
}

.social-icons i:hover{
    transform: scale(1.2);
}

.campo-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.campo-form h3{
    font-size: 22px;
}

.form{
    padding: 10px;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.form input{
    height: 30px;
    width: 250px;
    border: none;
    border-radius: 15px;
    padding-left: 8px;
    color: black;
    outline: none;
    background-color: lightblue;
    transition: all .5s;
}
.form input:focus{
    border: 3px solid black;
    transform: scale(1.2);
}

.form button{
    background-color: #001f3f;
    color: white;
    font-weight: bold;
    border: none; 
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    transition: all .5s;
}

.form button:hover{
    background-color: var(--azuleletrico);
    transform: scale(1.1);
}

.help{
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    background-color: var(--azulescuro);
    padding: 10px 10px 2px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.help i{
    font-size: 40px;
    animation: kick .5s ease-out infinite alternate;
}

.help i:hover{
    animation: kick2 .1s ease-out infinite alternate;
}

/* slider */
.titulo-slider{
    text-align: center;
    font-size: 35px;
}

.slider{
    margin: 0 auto;
    height: 700px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
}

.slider span{
    font-size: 25px;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: var(--font2);
}

.slider img{
    box-shadow: 0 1px 2px #0003;
    width: 30%;
}

.swiper{
    height: 500px;
}

.swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:450px){
    .swiper{
        height: 270px;
    }
}


/* Rodapé */

footer{
    background-color: black;
    padding: 5px;
    margin-top: 2rem;
}

footer p{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}


/* Animações */

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

@keyframes kick{
    100%{
        transform: translateY(-10%);
    }
}
@keyframes kick2{
    100%{
        transform: translateY(-20%);
    }
}