@charset "UTF-8";

:root{
    --font1: 'Roboto', sans-serif;
    --font2: 'Kalam', cursive;
    --CinzaClaro: #D3D3D3;
    --CinzaEscuro: #333333;
    --azulescuro: #001f3f;
    --azulnoite: #2a4b7c;
    --azuleletrico: #0074d9;
    --roxoescuro: #341f97;
    --roxoclaro:#8a6de9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}

body{
    height: 100vh;
    background-color: var(--CinzaClaro);
}

header{
    padding: 10px 30px;
    background-color: var(--azulnoite);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 9;
}

.logo{
    width: 100px;
    border-radius: 15px;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    transition: all .5s;
}
.menu a:hover{
    background-color: var(--azuleletrico);
}

.ico-menu{
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.ico-menu:active{
    transform: scale(.8);
}


/* Apresentação do site */
.apresentacao{ 
    display: flex;
    flex-flow: row wrap;
    background-color: var(--azulnoite);
    justify-content: space-around;
    padding: 10px;
    color: white;
}
.apresentacao-titulo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.apresentacao-titulo h1{
    font-size: 50px;
}
.apresentacao-titulo p{
    font-family: var(--font2);
    font-size: 22px;
    max-width: 400px;
}

.apresentacao-imagem img{
    width: 300px;
    transition: all 1s;
}

.apresentacao-imagem img:hover{
    transform: scale(1.1);
}

.cor1{
    padding-left: 0;
}

.cor2{
    padding-left: 20%;
}
.cor3{
    color: lightgreen;
    padding-left: 55%;  
}

/* Carrossel */
.carrossel{
    overflow: hidden;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;   
    
}
.titulo-carrossel{
    font-size: 30px;
    margin: 1rem 0;
}

.container-carrossel{
    display: flex;
    transition: .7s ease-in-out;
    transform: translateX(0);
}

.container-carrossel img{
    height: 80vh;
    width: 320px;
    
}

/* Menu de outras opções */
.menu-options{
    position: fixed;
    top: 0;
    right: -200px;
    height: 100%;
    width: 200px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid white;
    background-color: var(--azulnoite);
    transition: all .6s;
}

.close-options{
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.close-options:active{
    transform: scale(.8);
}

.menu-options div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-options div button{
    border: none;
    background-color: transparent;
    font-size: 22px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    transition: all .5s;
}

.menu-options div button:hover{
    background-color: var(--azuleletrico);
}